<div class=" col-md-12">
    {{>header-message}}
</div>
<div class="masonry-container" id="follower-list-container" >
    <div class="row">
        {{#users}}
            {{>user-in-list}}
        {{/users}}

        {{^users}}
            <div class="col-md-12" style="margin-top: 2em;">
                <p class=" bg-warning" style=" padding-top: 1em; padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">{{error-message}}</p>

            </div>
        {{/users}}


    </div>
</div>

