<div class="col-xs-12" style="display:table;  height: 100%; margin-top: 0.5em; {{^itemMessageWay}}text-align: right;{{/itemMessageWay}} ">

    <div style="display: table-row;">
        {{#itemMessageWay}}
            <div style="display: table-cell;width: 1em; height: 100%;background: #ff8000;" >

            </div>
        {{/itemMessageWay}}

        <div style="display: table-cell;padding-left: 0.5em; padding-right: 0.5em;  vertical-align: middle; ">
            <p>{{message}}</p>
        </div>

        {{^itemMessageWay}}
            <div style="display: table-cell;width: 1em; height: 100%;background: #21b2ff;">

            </div>
        {{/itemMessageWay}}
    </div>
</div>