
<div class="col-md-12" style="margin-top: 0em; text-align: center;">

    <strong style=" padding-top: 0.5em; padding-bottom: 1em; padding-right: 1em;">{{ownername}}</strong>
    <div class="clearfix"></div>
    <img class="avatar img-circle img-thumbnail" style="width: 30%; height: 30%;" src="{{ownerpic}}">
    <div class="clearfix"></div>
    <i style=" padding-top: 0.5em; padding-bottom: 1em; padding-right: 1em;">{{ownerinfo}}</i>
    <div class="clearfix"></div>
    <span style=" padding-top: 0.5em; font-size: 0.8em; padding-bottom: 1em; padding-right: 1em; color: #1b6d85;">{{owner-register-time}}</span>

</div>
