<div class="row">
    <div class="col-md-2 col-sm-2 hidden-xs child">
        <a href="/">
            <img src="{{logo-image}}" alt="{{logo-image-alt}}" style="height:100px">
        </a>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-12 child">
        <a href="/"><h1 class="">{{header-text}}</h1></a>
        <p class="lead blog-description">{{header-text-secondary}}</p>
    </div>
</div>
<hr />