<div class="col-md-12" style="margin-top: 2em;">
    <p class=" bg-warning" style=" padding-top: 1em; padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">{{not-logged-in-message}}</p><a href="{{login-addr}}">{{login-text}}</a>

</div>