
    <form method="post" action="/oop/web/search.php"  class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-3 radio">
                <label><input type="radio" name="action" value="user" checked>Kişileri</label>
                <label><input type="radio" name="action" value="item">Ürünleri</label>
            </div>

            <div class="col-xs-7" style="padding-top: 0.6em">
                <input type="text" name="term" class="form-control" id="searchTerm2">
                <input type="hidden" name="start" value="0">
            </div>

            <div class="col-xs-2" style="padding-top: 0.6em">
                  <button class="btn btn-default" class="form-control">Ara</button>
            </div>
        </div>

    </form>
