<div id="socialShareContainer" style="display: block; float:left; height:  auto; width: 100%; text-align: center; margin-top: 0.4em;">
    <a href="{{whatsapp-share-url}}">
        <img src="{{whatsapp-icon}}" class="social-share-icon">
    </a>
    <a href="{{facebook-share-url}}">
        <img src="{{facebook-icon}}" class="social-share-icon">
    </a>
    <a href="{{twitter-share-url}}">
        <img src="{{twitter-icon}}" class="social-share-icon">
    </a>

</div>