<div class="col-xs-12" style="margin-top: 1em; margin-bottom: 1em;" id="quickFollowContainer">
    <form name="quickFollowForm" id="quickFollowForm">
        <input type="hidden" name="followedID" value="{{uid}}" />
        <button type="button" class="btn {{#follow-is-following}}btn-default{{/follow-is-following}}{{^follow-is-following}}btn-success{{/follow-is-following}}" onclick="followUser('{{follow-url}}', $(this))"><span id="buttonText">{{follow-button-text}}</span>

             <span class="spinner active" style="display: none;">
             <i class="fa fa-spinner fa-spin"></i>
             </span>

        </button>
    </form>
</div>