<div class="col-md-3 col-sm-3 col-xs-12" style=" margin-top:40px;">
    <div class="text-center" style=" margin:20px; margin-top:0px;">
        <div id="profilePicContainer" style="position: relative; width: 100%; height: 100%; text-align: center">

            <div style="position: relative;">

             <img src="/userpics/{{userpic}}" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            {{#userProfileEdit}}

                <div id="change-userpic-button-container" class="change-userpic-button-container">
                    <form action="{{userpic-update-form-action}}" id="userpicUploadForm" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        <span class="btn btn-default btn-file" id="userpic-select-button">
                            {{userpic-update-button-text}} <input id="userpic-select" type="file" name="{{userpic-update-input-name}}">
                        </span>
                    </form>
                    <script>
                        $('#userpic-select').on('change', function() {
                            $('#userpic-select-button').attr('disabled', true);
                            $('#userpicUploadForm').submit();
                        });
                    </script>

                </div>
            {{/userProfileEdit}}

            <div style="display: block; float: left; width: 100%;">
                <span style="display:block; margin-top: 0.8em; font-size: 1.2em; font-weight: bold;">{{username}}</span>
                <h6>{{userinfo}}  </h6><a onclick="showUserInfoUpdateForm()">{{userinfo-update-action-text}}</a>
            </div>

            {{#loggedIn}}{{^is-own-profile}}
                {{>user-profile-follow-button}}

            {{/is-own-profile}}{{/loggedIn}}

            {{>social-share-container}}



        </div>

        {{#userProfileEdit}}
            <div class="row" id="userInfoUpdateFormContainer" style="display: none;">
            <form action="{{userinfo-update-form-action}}" method="POST" class="form-horizontal">
                <div class="form-group">
                    <textarea name="{{userinfo-update-input-text-name}}" class="form-control">{{userinfo}}</textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" onclick="showUserInfoUpdateForm()">{{userinfo-update-cancel-button-text}}</button>
                    <button type="button" class="btn btn-primary" onclick="disableAndSubmitButton(this)">{{userinfo-update-button-text}}</button>
                </div>

            </form>
            </div>



        {{/userProfileEdit}}


    </div>
</div>


