<!DOCTYPE html>
<html lang="en">

    {{>header}}



<body onload="requestLocation()">

    <div class="container maincontainer ">
        {{>top-menu}}
        {{>logo-container}}
        {{>user-main-tab-menu}}
        <div class="row" id="content-container">
            {{>follow-container}}
        </div>

    </div>


</body>
</html>

