<!DOCTYPE html>
<html lang="en">

    {{>header}}



<body>

    <div class="container">
        {{>top-menu}}
        {{>logo-container}}
        {{>user-main-tab-menu}}
        <div class="row">
        {{>item-messages-container}}
        </div>

    </div>
    {{>modal-report-conversation}}

    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>

</body>
</html>

