<!DOCTYPE html>
<html lang="en">

    {{>header}}



<body onload="requestLocation();">

    <div class="container maincontainer">
        {{>top-menu}}
        {{>logo-container}}


        <div class="row">
            {{>item-main-container}}
        </div>

    </div>


</body>
</html>

