<!DOCTYPE html>
<html lang="en">

    {{>header}}



<body onload="">

    <div class="container maincontainer">
        <div class="row">

            <div class="modal-dialog">

                <div id="modal-content-container" class="modal-content">

                    {{>login-form}}
                </div>
            </div>
        </div>

    </div>


</body>
</html>

