<!DOCTYPE html>
<html lang="en">

    {{>header}}



<body>

    <div class="container maincontainer ">
        {{>top-menu}}
        {{>logo-container}}
        {{>user-main-tab-menu}}
        <div class="row">
            {{>user-news-container}}
        </div>

    </div>


</body>
</html>

